iframe{border:none;}
body{margin:0; background:url("../img/body-background.jpg")}
h1{margin-top:0; font-size:1.5em;}
h2{font-size:1.1em;}			
.page-container{max-width:1010px; margin:2% auto; background-color:#595855; box-shadow:1px 2px 2px 1px rgba(0,0,0,.2);}
header{
	background-color:#003479;
	background-image: linear-gradient(to bottom, #0055C4, rgba(0, 41, 94, 0.5));
	display:block;
}
header div:first-child{
	height:44px;
	width:130px; 
	background-size:auto 30px !important;
	display:block; 
	background:url("../img/logo.png") no-repeat scroll 0 8px; 
	margin-left:8px;
}
main:after{
	content:"";
	display:table;
	clear:both;
}		
main>.form{float:left; width:320px;}
main>.form>div{padding:20px; background-color:#fff;}
main>.form form{padding:5px;}	
main>.form form .submit{border-radius:4px; width:270px; margin:0 auto; background-color:#003479; color:#fff;}			
main>.form form .forgot a{text-decoration:underline; color:#003479 !important;}
main>.form form input[type="submit"]{background: transparent; width:270px; padding:6px 12px; border:none;}
main>.form form input[type="submit"]:hover{background-color:rgba(0,0,0,.1); color:#fff;}
main>.form form .forgot{text-align:center; margin:10px 10px 0;}
aside nav{background-color:#d0cec6; background-color:#595855;}
aside nav h2{margin:0; padding:10px 10px 0 10px; color:#fff;}
aside nav ul{list-style-type:none; padding:0; margin:0;}
aside nav ul:after{display:table; content:""; clear:both;}
aside nav ul li{ margin:10px; }
aside nav ul li a{display:block; height:50px; width:300px; background-color:rgba(0,0,0,.15); color:rgba(255,255,255,.6);}
aside nav ul li a:hover{background-color:rgba(0,0,0,.30); color:rgba(255,255,255,.6);}
aside nav ul li a span{display:block; float:left;}
aside nav ul li a span:first-child{font-size:30px;  margin:10px;}
aside nav ul li a span:last-child{display:inline-block; font-size:20px;  margin:10px; }
/* Additional CSS for schedule */
.schedule{
	float:left;
    background-color:#fff;		
	width: 690px; 
	height: 1035px; 
	overflow-x:hidden;
	overflow-y:auto;	
}
.cover{
	position:absolute;
	background: url("https://campuscontent.nebraska.edu/UNK/imgpa/cm/schedule.png") no-repeat scroll 0% 0% transparent;
	width: 690px; 
	height: 1035px;
	opacity: 1;	
  	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.cover.fade{
	opacity:0;
}
.content{
	border-left:1px solid rgba(0,0,0,.15);	
	min-height:1035px;
}
/* End Schedule CSS */
footer{background-color:rgba(0,0,0,.15); padding:10px; color:#fff; font-size:.8em;}
footer span:first-child{float:left; font-size:1.4em;}

input[type="submit"]{color:#fff;}
form .submit{background-color:#B12A1C; color:#fff;}
main form .forgot a{color:#B12A1C;}

@media (max-width:600px){	
	.page-container{margin-top:0;}
	header div:first-child{
		height:30px; 
		background-size:auto 25px !important;
		background:url("../img/logo.png") no-repeat scroll 0 4px;		
	}
	
}
@media (max-width:1030px){
	.schedule{display:none;}
	.page-container{max-width:320px;}
	aside nav ul li{float:left;}
	aside nav ul li a{width:50px;}
	aside nav ul li a span:last-child{
		border: 0 none;
	    clip: rect(0px, 0px, 0px, 0px);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}
	aside nav ul li{margin:10px 5px;}
	aside nav ul li:first-child{margin-left:10px;}
	aside nav ul li:last-child{margin-right:10px;}
	footer span:first-child{float:left; font-size:2.4em;}
}