iframe{border:none;}
body{margin:0; background:url("../img/body-background.jpg")}
h1{margin-top:0; font-size:1.5em;}
h2{font-size:1.1em;}			
.page-container{max-width:600px; margin:10% auto; background-color:#595855; box-shadow:1px 2px 2px 1px rgba(0,0,0,.2);}
header{
	background-color:#b5aa9e;
	display:block;
}
header div:first-child{
	height:30px;
	width:400px; 
	display:block; 
	background:url("../img/logo.gif") no-repeat scroll 0 0; 	
}		
main{padding:20px; background-color:#fff;}
main form{padding:5px;}	
main form .submit{border-radius:4px; width:270px; margin:0 auto; background-color:#b5aa9e; color:#fff;}			
main form .forgot a{text-decoration:underline; color:#b5aa9e;}
main form input[type="submit"]{background: transparent; width:270px; padding:6px 12px; border:none; color:#fff;}
main form input[type="submit"]:hover{background-color:rgba(0,0,0,.1);}
main form .forgot{text-align:center; margin:10px 10px 0;}
aside nav{background-color:#d0cec6; background-color:#595855;}
aside nav h2{margin:0; padding:10px 10px 0 10px; color:#fff;}
aside nav ul{list-style-type:none; padding:0; margin:0;}
aside nav ul:after{display:table; content:""; clear:both;}
aside nav ul li{float:left; margin:10px 5px; }
aside nav ul li:first-child{margin-left:10px;}
aside nav ul li:last-child{margin-right:10px;}
aside nav ul li a{display:block; height:50px; width:50px; background-color:rgba(0,0,0,.15);}
aside nav ul li a:hover{background-color:rgba(0,0,0,.30);}
aside nav ul li a span:last-child{font-size:30px; color:rgba(255,255,255,.6); margin:10px;}
footer{background-color:rgba(0,0,0,.15); padding:10px; color:#fff; font-size:.8em;}
footer span:first-child{float:left; font-size:2.4em;}

input[type="submit"]{color:#fff;}
form .submit{background-color:#B12A1C; color:#fff;}
main form .forgot a{color:#B12A1C;}

@media (max-width:600px){
	.page-container{margin:0;}
	header div:first-child{height:30px; background-size:auto 30px !important;}
}